@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'proxima-nova', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgba(204, 0, 0, 0.75);
}
  
::selection {
    color: rgba(204, 0, 0, 0.75);
    background: transparent;
    border-bottom: 2px solid white;
}
